###########################################################
################# Project Customization ###################
###########################################################

### HEXCELL ###############################################


### APP ###################################################

API_KEY=$2y$10$Eqgaz8p1ueGv87mMFiRUduOdJm3uFyZAPZnVij.psIc3LX3P/bw9u

APP_NAME=iat
APP_ENV=local
APP_KEY=base64:z8VeMhM/+Ru0P7GZGTfJE/7Z1P1tLwadxySJd9W4PAE=
APP_DEBUG=true
APP_URL=http://localhost:8081

HEXCELL_METER_CODE_REGEX=/^46\d{9}$/

### LOG ##################################################

LOG_CHANNEL=stack

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

### CACHE ##################################################

CACHE_HOST=redis
CACHE_PASSWORD=null
CACHE_PORT=6379

### QUEUE ##################################################

QUEUE_HOST=127.0.0.1
QUEUE_PORT=null

### DATABASE ################################################

DB_CONNECTION=mysql
DB_VERSION=5.7
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=iat
DB_USERNAME=admin
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root
DB_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../

# Point to where the `APP_CODE_PATH_HOST` should be in the container. You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_PATH_CONTAINER=/var/www:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.corlang/iat

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker compose files ##################################

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker/docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
COMPOSE_PROJECT_NAME=iat

### PHP Version ###########################################

# Select a PHP version of the Workspace and PHP-FPM containers (Does not apply to HHVM). Accepted values: 7.2 - 7.1 - 7.0 - 5.6
PHP_VERSION=7.2

### PHP Interpreter #######################################

# Select the PHP Interpreter. Accepted values: hhvm - php-fpm
PHP_INTERPRETER=php-fpm

### Docker Host IP ########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=93.188.166.174

### Remote Interpreter ####################################

# Choose a Remote Interpreter entry matching name
PHP_IDE_CONFIG=serverName=localhost

### Windows Path ##########################################

# A fix for Windows users, to ensure the application path works
COMPOSE_CONVERT_WINDOWS_PATHS=1

### Environment ###########################################

# If you need to change the sources (i.e. to China), set CHANGE_SOURCE to true
CHANGE_SOURCE=false

### Docker Sync ###########################################

# If you are using Docker Sync. For `osx` use 'native_osx', for `windows` use 'unison', for `linux` docker-sync is not required
DOCKER_SYNC_STRATEGY=native_osx

###########################################################
################ Containers Customization #################
###########################################################

### WORKSPACE #############################################

WORKSPACE_PUID=1000
WORKSPACE_PGID=1000
WORKSPACE_CHROME_DRIVER_VERSION=2.32
WORKSPACE_PHP_VERSION=2.32
WORKSPACE_TIMEZONE=UTC

### PHP_FPM ###############################################

PHP_FPM_INSTALL_ZIP_ARCHIVE=true
PHP_FPM_INSTALL_MYSQLI=true
PHP_FPM_INSTALL_PHPREDIS=true

### MYSQL #################################################

MYSQL_VERSION=5.7
MYSQL_DATABASE=iat
MYSQL_USER=admin
MYSQL_PASSWORD=secret
MYSQL_PORT=3316
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

### NGINX #################################################

NGINX_HOST_HTTP_PORT=8082
NGINX_HOST_HTTPS_PORT=444
NGINX_HOST_LOG_PATH=./nginx/logs/nginx/
NGINX_SITES_PATH=./nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000
